extends ../_template

block variables
    - var title = 'About me page'
    -
        var skillsFrontend =
            [
                {
                    name: 'HTML5',
                    color: '#e6ad41',
                    value: 180
                },
                {
                    name: 'CSS3',
                    color: '#e6ad41',
                    value: 110
                },
                {
                    name: 'Javascript</br>Jquery',
                    color: '#e6ad41',
                    value: 250
                }
            ]

        var skillsBackend =
        [
            {
                name: 'PHP',
                color: '#e4bf7b',
                value: 180
            },
            {
                name: 'mySQL',
                color: '#e4bf7b',
                value: 110
            },
            {
                name: 'Node.js & npm',
                color: '#e4bf7b',
                value: 135
            },
            {
                name: 'Mongo.db',
                color: '#e4bf7b',
                value: 175
            }
        ]

        var skillsWorkFlow =
        [
            {
                name: 'git',
                color: '#e6ad41',
                value: 180
            },
            {
                name: 'gulp',
                color: '#e6ad41',
                value: 110
            },
            {
                name: 'bower',
                color: '#e6ad41',
                value: 135
            }
        ]


block content
    include ../modules/btn-menu
    .section-wrapper
        +site-menu('about')
        section.user-section.section
            .user-section__top
                .social
                    .social__item
                        a(href="#")
                            svg(width=31,height=17, class="svg svg_color-white svg_hover-color-orange")
                                use(xlink:href="assets/img/sprites/svg/sprite.svg#vk")
                    .social__item
                        a(href="#")
                            svg(width=26,height=22, class="svg svg_color-white svg_hover-color-orange")
                                use(xlink:href="assets/img/sprites/svg/sprite.svg#github")
                    .social__item
                        a(href="#")
                            svg(width=24,height=22, class="svg svg_color-white svg_hover-color-orange")
                                use(xlink:href="assets/img/sprites/svg/sprite.svg#in")
            .user-section__center
                svg(class="user-bg" viewBox="0 0 1176 313" preserveAspectRatio="none")
                    use(xlink:href="assets/img/sprites/svg/sprite.svg#portfolio_header")
                .user
                    img(class="user__pic" src="http://via.placeholder.com/141x141", alt="Фото")
                    .user__title Аблызалов Рустам
                    .user__subtitle Личный сайт веб разработчика
            .user-section__bottom
                svg(width=26,height=16, class="arrow arrow-down svg svg_color-white svg_hover-color-beige")
                    use(xlink:href="assets/img/sprites/svg/sprite.svg#portf_arrow_down")
                svg(class="traingle", xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 85")
                    polygon(class="left" points="0,0 0,86 500.8,86 500.8,84" fill="#efeee9")
                    polygon(class="right" points="1000,0   1000,86   500,86   500,84" fill="#EEEBDF")
        section.about-me
            .about-me-column.about-me-column_left
                .about-me-column__wrapper
                    .header-block
                        svg(class="header-block__bg" )
                            use(xlink:href="assets/img/sprites/svg/sprite.svg#about_header")
                        h1 Обо мне
                    img(class="" src="http://via.placeholder.com/443x390", alt="Фото")
                    h3 Кто я
                    p
                        | Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов
                        | и приложений. Мне нравится делать интересные и современные проекты.
                    p
                        | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу
                        | в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
            .about-me-column.about-me-column_right
                h3 Чем я могу быть<br>вам полезен
                p
                    | Больше всего меня привлекет Frontend разработка, но я также знаком
                    | и могу решать не сложные задачи на Backend. Но давайте по порядку.
                .skills-block
                    .skill-direction
                        .skill-direction__header Frontend
                        .skill-direction__skills.skills
                            .skills__item
                                each skill in skillsFrontend
                                    .skill
                                        .skill__name=skill.name
                                        svg.skill__bar
                                            circle(cx="55" cy="55" r="45" fill="transparent" stroke="#DFDCD5" stroke-width="20")
                                            circle(cx="55" cy="55" r="45" fill="transparent" stroke=skill.color stroke-width="20" stroke-dasharray=skill.value + ',300')
                    .skill-direction
                        .skill-direction__header Backend
                        .skill-direction__skills.skills
                            .skills__item
                                each skill in skillsBackend
                                    .skill
                                        .skill__name=skill.name
                                        svg.skill__bar
                                            circle(cx="55" cy="55" r="45" fill="transparent" stroke="#DFDCD5" stroke-width="20")
                                            circle(cx="55" cy="55" r="45" fill="transparent" stroke=skill.color stroke-width="20" stroke-dasharray=skill.value + ',300')
                    .skill-direction
                        .skill-direction__header WorkFlow
                        skill-direction__skills.skills
                            .skills__item
                                each skill in skillsWorkFlow
                                    .skill
                                        .skill__name=skill.name
                                        svg.skill__bar
                                            circle(cx="55" cy="55" r="45" fill="transparent" stroke="#DFDCD5" stroke-width="20")
                                            circle(cx="55" cy="55" r="45" fill="transparent" stroke=skill.color stroke-width="20" stroke-dasharray=skill.value + ',300')
        section.map
            .map-info
                h3.map-info__title Контакты
                ul.contacts.contacts_map.contacts_icons
                    li.contacts__item.contacts-item
                        svg(width=24,height=24, class="contacts-item__icon svg svg_color-orange")
                            use(xlink:href="assets/img/sprites/svg/sprite.svg#skype")
                        .contacts-item__text skype_kdn
                    li.contacts__item.contacts-item
                        svg(width=24,height=24, class="contacts-item__icon svg svg_color-orange")
                            use(xlink:href="assets/img/sprites/svg/sprite.svg#email")
                        .contacts-item__text astahov@gmail.com
                    li.contacts__item.contacts-item
                        svg(width=24,height=24, class="contacts-item__icon svg svg_color-orange")
                            use(xlink:href="assets/img/sprites/svg/sprite.svg#phone")
                        .contacts-item__text +7 931 200 93 24
                    li.contacts__item.contacts-item
                        svg(width=24,height=24, class="contacts-item__icon svg svg_color-orange")
                            use(xlink:href="assets/img/sprites/svg/sprite.svg#marker")
                        .contacts-item__text Новосибирск, ул. Инская, д.14
        include ../modules/footer














